[core]
	autocrlf = input
	quotepath = false
	excludesfile = /Users/sskim/.gitignore_global
	editor = nvim
[user]
	name = sskim91
	email = tjdtjq91@gmail.com
[includeIf "gitdir:~/dev/"]
	path = .gitconfig_personal
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/sskim/.stCommitMsg
